h1 {
  font-family: "Rubik", sans-serif;
  margin-left: -2px;
}
p {
  color: #727d8f;
  font-size: 20px;
  margin-top: 20px;
}
img {
  margin-top: -10px;
  cursor: pointer;
}
@media only screen and (max-width: 615px) {
  #customImage {
    width: 100%;
  }
}
@media only screen and (max-width: 990px) {
  .text-div-1, .text-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}
.customImageDiv {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.customTextDiv {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.customDiv2 {
  background-color:#f7f6f6 ;
  margin: 0 !important;
  padding: 40px 0px!important;
}

.customDiv {
  margin: 0 !important;
  padding: 40px 0px!important;
}

.customDiv3 {
  margin: 0 !important;
  padding: 40px 0px!important;
  background-color: #f5f3f8;
}

.customDiv4 {
  margin: 0 !important;
  padding: 40px 0px!important;
  background-color: #f3fdfb;
}
 



 .customDiv1 {
  height: 86.4vh !important;
} 

@media only screen and (min-width: 993px) {
  .customDiv, .customDiv2, .customDiv3, .customDiv4 {
    height: 100vh !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}




